<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Search Your Property Here</h1>
        </div>
      </div>

      <section id="latest-data", class="mb-5">
        <div class="container">
          <div class="row">
            <%= render "houses/latest_houses" %>
            <%= render "commercial_units/latest_commercial_units" %>
            <%= render "complex_buildings/latest_complex_buildings" %>
          </div>
        </div>  
      </section>

    </main>
